{% extends 'base.html' %}
{% load static %}
{%block judul%}film{%endblock%}
{%block badan%}
    <!-- START INTRO -->
      <div style="color: #1E88E5;" class="intro-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-6 icon-home">
              <a href="#" class="circle-icon">
                <span class="lnr lnr-camera-video"></span>
              </a>
            </div>
            <div class="col-md-6">
              <h2>About Movieders</h2>
              <p>
				Oleh<br>
				<ul>
				<li>Ilham Fajri Umar</li>
				<li>M. Hafidz Tarulinggani</li>
				<li>Roni Mustofa</li>
				</ul>
                "Movieder Zone adalah website penyedia layanan Streaming Film-film Internasional dan Nasional. Disini pengguna dapat memeilihuntuk menonton film berdasarkan tahn rilis dan genre nya, film yang ada disini hanya dapat ditonton secara streaming online dan tidak dapat didownload. Pengguna dapat menikmati streaming film dengan beberapa iklan dan dapat menambahkan rating film."
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h2>About Movieders</h2>
              <p>
                For More information about our service, and your asked </br>Email : admin@moviederzone.com</br>Phone : +627 0101 1110</br>Or Join our Social Media : </br>Facebook page : Movieder Zone Indonesia</br>Twitter : moviederzone_id
              </p>
            </div>
            <div class="col-md-6 icon-home">
              <a href="#" class="circle-icon">
                <span class="lnr lnr-camera-video"></span>
              </a>
            </div>
          </div>
        </div>

      </div>
    <!-- END INTRO -->
{%endblock%}
